<ion-card *ngIf="asistencia">
  <ion-card-header>
    <ion-card-title>Detalles de Asistencia</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <table class="minimal-table">
      <tbody>
        <tr>
          <th>Bloque Inicio</th>
          <td>{{ asistencia.bloqueInicio }}</td>
        </tr>
        <tr>
          <th>Bloque Término</th>
          <td>{{ asistencia.bloqueTermino }}</td>
        </tr>
        <tr>
          <th>Día</th>
          <td>{{ asistencia.dia }}</td>
        </tr>
        <tr>
          <th>Hora Inicio</th>
          <td>{{ asistencia.horaInicio }}</td>
        </tr>
        <tr>
          <th>Hora Fin</th>
          <td>{{ asistencia.horaFin }}</td>
        </tr>
        <tr>
          <th>ID Asignatura</th>
          <td>{{ asistencia.idAsignatura }}</td>
        </tr>
        <tr>
          <th>Nombre Asignatura</th>
          <td>{{ asistencia.nombreAsignatura }}</td>
        </tr>
        <tr>
          <th>Nombre Profesor</th>
          <td>{{ asistencia.nombreProfesor }}</td>
        </tr>
        <tr>
          <th>Sección</th>
          <td>{{ asistencia.seccion }}</td>
        </tr>
        <tr>
          <th>Sede</th>
          <td>{{ asistencia.sede }}</td>
        </tr>
      </tbody>
    </table>
    <div class="button-container">
      <ion-button color="secondary" (click)="guardarAsistencia()">Guardar Asistencia</ion-button>
      <ion-button color="secondary" (click)="verHistorial()" >Ver Historial</ion-button>
      <ion-button (click)="limpiarHistorial()" color="success">Limpiar Historial</ion-button>
    </div>
  </ion-card-content>
</ion-card>

<div *ngIf="!asistencia">
  <h1 class="body-text ion-padding-top">No se encontraron datos de asistencia.</h1>
</div>

<!-- Historial de asistencias en tabla -->
<div *ngIf="historial.length > 0">
  <h2>Historial de Asistencia</h2>
  <table class="minimal-table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Docente a Cargo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of historial">
        <td>{{ item.dia }}</td>
        <td>{{ item.nombreProfesor }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Mensaje si no hay historial -->
<div *ngIf="noHistorialVisible && asistencia">
  <h2>No hay asistencias registradas en el historial.</h2>
</div>