<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center">
  <div class="background"></div>
  <div class="centrar">
    <div>
      <img src="../../assets/img/logoBlanco.png" style="width: 75%;">
      <h1 class="ion-padding-bottom">Sistema de Asistencia DUOC</h1>
      <ion-card>
        <ion-card-header style="color: white;">
          <span class="image-text">¡Intenta de nuevo! <br> el correo ingresado <br> no es correcto</span>
        </ion-card-header>
        <ion-card-content class="ion-padding-bottom">
          <img src="../../assets/img/incorrecto.png" class="rounded-image">
        </ion-card-content>
      </ion-card>
      <ion-row>
        <ion-col>
          <ion-button #ingresar fill="clear" class="link1 link-box" (click)="ingreso()">Iniciar Sesión</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>