<ion-header style="height: 60px; padding: 0;">
  <ion-toolbar style="height: 60px; padding: 0;">
    <ion-nav-link slot="start" class="ion-margin" style="margin: 0; margin-left: 15px;">
      <app-language #selectLanguage></app-language>
    </ion-nav-link>
    <div slot="end" class="ion-margin" style="margin: 0;">
      <ion-nav-link (click)="navigateTheme()">
        <ion-icon name="color-wand-outline"></ion-icon>
        {{ 'Login.Button.Theme' | translate }}
      </ion-nav-link>
    </div>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center">
  
  <div class="background"></div>
  <div class="centrar">
    
    <div>
      
      <img src="../../assets/img/logoBlanco.png" style="width: 75%;">
      <h2 class="ion-padding-bottom">{{ 'AppName' | translate }}</h2>
      <ion-card>
        <ion-card-content class="ion-padding-vertical">
          <ion-item>
            <ion-icon slot="start" src="../../../assets/img/Screenshot2.png" aria-hidden="true"></ion-icon>
            <ion-input
              [(ngModel)]="correo"
              label="{{ 'Login.Label.Email' | translate }}" 
              labelPlacement="floating"
              fill="outline"
              placeholder="{{ 'Login.Placeholder.Email' | translate }}">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" src="../../../assets/icon/Screenshot1.png" aria-hidden="true"></ion-icon>
            <ion-input
              [(ngModel)]="password"
              label="{{ 'Login.Label.Password' | translate }}"
              labelPlacement="floating"
              fill="outline"
              placeholder="{{ 'Login.Placeholder.Password' | translate }}"
              type="password">
            </ion-input>
          </ion-item>
        </ion-card-content>
    
          <ion-button class="ion-padding-vertical" (click)="login()">{{ 'Login.Button.Login' | translate }}</ion-button>
        </ion-card>
    
      <ion-col>
        <ion-row class="centrar">
          <ion-nav-link (click)="passwordRecovery()">{{ 'Login.Button.ForgotPassword' | translate }}</ion-nav-link>
        </ion-row>
        <ion-row class="centrar">
          <ion-nav-link (click)="miruta()">{{ 'Login.Button.Map' | translate }}</ion-nav-link>
        </ion-row>
      </ion-col>
    </div>
  </div>
</ion-content>
